<br><br>
<div class="col-md-10 col-md-offset-1">
	<div class="row">
		<div class="col-md-5 col-md-offset-1">
			<h2><%= @author.name %>  <small><i>(Author)</i></small></h2>
			<ol>
				<% @top_contributions.each do |contribution| %>
					<li>
						<h3><%= link_to(contribution[0], pages_path(query: contribution[0]), method: :post) %><br> <small><b><%= contribution[1] %></b> contributions</small></h3>
						<%= link_to("Wikipedia »", Page.find_by(title: contribution[0]).wiki_link, target: "_blank") %>	
					</li>
				<% end %>
			</ol>
		</div>

			<div class="col-md-5 col-md-offset-1">
				<h3>Contributions breakdown</h3>
				<canvas id="authorContributionsChart" width="700" height="700"></canvas>
			</div>

			<div class="col-md-5 col-md-offset-1">
				<h4>Last revision made <%= distance_of_time_in_words(@author.most_recent_revision.timestamp, Time.now) %> ago</h4>
				<%= render partial: 'revisions/author_revision', locals: { revision: @author.most_recent_revision } %>	
			</div>
			
	</div>
</div>
