<h1><small>Author: </small> <%= @author.name %></h1><br>


<div class="row">
	<div class="col-md-7">
		<ol>
			<% @top_contributions.each do |contribution| %>
				<li><h3><%= contribution[0] %><br> <small> # of contributions: <%= contribution[1] %></h3></li></small>
			<%end %>
		</ol>
	</div>

	<div class="col-md-5">
		<canvas id="authorContributionsChart" width="300" height="300"></canvas>
	</div>
</div>

<div id="world-map" style="width: 600px; height: 400px"></div>

<h2>Last revision made <%= distance_of_time_in_words(@author.most_recent_revision.timestamp, Time.now) %> ago:</h2>
<p><%= @author.most_recent_revision.content %> </p>


