<div class="main-content-wrapper">
	

<div class="row">

	<div class="col-md-5">
	<h2><%= @author.name %>  <small><i>(Author)</i></small></h2>
		<ol>
			<% @top_contributions.each do |contribution| %>
				<li>
					<h3><%= link_to(contribution[0], pages_path(query: contribution[0]), method: :post) %><br> <small><b><%= contribution[1] %></b> contributions</small></h3>
					<%= link_to("Wikipedia »", Page.find_by(title: contribution[0]).wiki_link, target: "_blank") %>	
				</li>
			<% end %>
		</ol>
		</div>
		<div class="col-md-6">
			<h2>Last revision made <%= distance_of_time_in_words(@author.most_recent_revision.timestamp, Time.now) %> ago:</h2>
			<h2><small>(<%= @author.most_recent_revision.page.title %>)</small></h2>
			<%= render partial: 'revisions/revision', locals: { revision: @author.most_recent_revision } %>
					
		</div>

</div>

</div>
