<h3><strong><%= revision.author.name %></strong> <br>
<small><%= revision.get_date %></small></h3><hr>

<% if !!revision.comment %>
  <p>
    Comment: <%= revision.comment %>
  </p>
<% end %>

<% if !!revision.content %>
  <% revision_parser.parse(revision) %>
  <p>
    <%= revision_parser.line_number %>
  </p>
  <p>
    <%= revision_parser.change.html_safe %>
  </p>
<% else %>
  <p>
    "Content Unavailable"
  </p>
<% end %>
