<div class="loader">
  <div class="">
    <div class="panel panel-solid-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          LOADING...
          <hr>
        </h3>
      </div>
      <div class="panel-body">
        <h1 class="col-md-10 col-md-offset-1">Sit tight. </h1>
        <h3 class="col-md-10 col-md-offset-1">We're gathering <b>500</b> recent edits, <b>500</b> most recent page editors, getting the locations of anonymous authors, and generating some neat graphics for you. </h3>
        <p>
          <%= @vandalism%>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row" >
  <div class="col-md-12">
    <h3 class="hideOnSubmit col-md-offset-4">Welcome to</h3>
    <div class="col-md-4 col-md-offset-3">
      <img src="assets/wiki-vice-02.png" alt=""  height="250">
    </div>
    <%= form_tag("/pages", method: "post", class: "form col-md-12") do %>
      <div class="form-group col-md-6 col-md-offset-2">
        <%= text_field_tag(:query, "", class: "form-control index-search-bar hideOnSubmit", placeholder:"Search For...", id: "query-welcome") %>  
      </div>
      <div class="form-group col-md-1">
        <%= submit_tag("Search", class: " btn btn-primary btn-3d hideOnSubmit search-loader", id: "search-loader") %>
      </div>
    <% end %>
     </div> 
 
  </div>    

    <% if flash[:notice] %>
      <div class="row">
        <div class="alert alert-danger fade in col-md-4">
          <%= flash[:notice] %>
        </div>    
      </div>
    <% end %>
  
<!-- </div> -->

<div class="row hideOnSubmit">
<div class="col-md-10">
  <h3>Recently Changed Articles</h3>
    <% @recent_changes.each do |page| %>
      <%= link_to page.title, page, class: "btn search-loader"%>
    <% end %>  
</div>
</div>

