<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Latest Revisions</h3>
          <div class="actions pull-right">
            <!-- <i class="fa fa-chevron-down"></i>
            <i class="fa fa-times"></i> -->
          </div>
      </div>
      <div class="panel-body">
        <div class="tab-wrapper tab-left ">
          <ul class="nav nav-tabs">
          <!-- This sets up the first active left tab button -->
            <li data-id="<%=@top_revisions.first.id%>" class="active"><a href="#<%=@top_revisions.first.id%>" data-toggle="tab">1</a>
            </li>
            <!-- This iterates through the rest of the revs to make tab buttons-->
              <% @counter = 2 %>
              <% @top_revisions.slice(1, @top_revisions.size).each do |revision| %>
                
                <li data-id="<%=revision.id%>"><a href="#<%=revision.id%>" data-toggle="tab"><%= @counter %></a>
                </li>
                <% @counter += 1 %>
              <% end %>
          </ul>
          <div class="tab-content">
          <!-- This sets up the first active content tab. -->
          <div class="tab-pane active tab_box" id="<%= @top_revisions.first.id %>">
            <%= render partial: 'revisions/revision', locals: { revision: @top_revisions.first, revision_parser: @revision_parser} %>
          </div>
          <!-- This iterates through the rest of the rev content for tabs. -->
            <% @top_revisions.slice(1, @top_revisions.size).each do |revision| %>
              <div class="tab-pane tab_scroll" id="<%=revision.id%>">
              </div>
            <% end %> 
          </div> 
    </div>  
  </div>
</div>
</div>
</div>

