<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Latest Revisions</h3>
          <div class="actions pull-right">
            <!-- <i class="fa fa-chevron-down"></i>
            <i class="fa fa-times"></i> -->
          </div>
      </div>
      <div class="panel-body">
        <div class="tab-wrapper tab-left ">
          <ul class="nav nav-tabs">
          <!-- This sets up the first active left tab button -->
            <li class="active"><a href="#<%=@first_revision.id%>" data-toggle="tab">1</a>
             </li>
             <!-- This iterates through the rest of the revs to make tab buttons-->
             <% @counter = 2 %>
              <% @last_ten_revisions.each do |revision| %>
                
                <li><a href="#<%=revision.id%>" data-toggle="tab"><%= @counter %></a>
                </li>
                <% @counter += 1 %>
              <% end %>
          </ul>
          <div class="tab-content">
          <!-- This sets up the first active content tab. -->
          <div class="tab-pane active tab_box" id="<%= @first_revision.id %>">
          <h3><strong><%=@first_revision.author.name %></strong> <br><small>on <%= @first_revision.get_date %></small></h3><hr>
            <p>
            <%= @first_revision.content.gsub("}}", "").html_safe %>
            </p>
          </div>
          <!-- This iterates through the rest of the rev content for tabs. -->
            <% @last_ten_revisions.each do |revision| %>
              <div class="tab-pane tab_scroll" id="<%=revision.id%>">
                <h3><strong><%=revision.author.name %></strong><br><small>on <%= revision.get_date %></small></h3><hr>
                
                <p>
                  <%= revision.content.gsub("}}", "").html_safe %>
                </p>
              </div>
            <% end %> 
          </div> 
    </div>  
  </div>
</div>

