<p>
  <%= revision_parser.line_number %>
</p>

<p>
  <%= revision_parser.context %>
</p>

<p>
  <%= revision_parser.deleted_line %>
</p>

<p>
  <%= revision_parser.added_line %>
</p>

<p>
  <%= revision_parser.change %>
</p>