<div class="col-md-6">
  <ol>
    <% @page.top_five_authors.each do |top_five_author| %>
      <li><h3> <%= link_to "#{top_five_author[:author].name}",  
          author_path(top_five_author[:author].id) %><br> 
          <small><b><%= top_five_author[:count] %></b> contributions</small></h3>  
      </li>
    <% end %>
  </ol>
</div>

<div class="col-md-6">
  <h3><%= link_to "#{@page.top_five_authors.first[:author].name}",author_path(@page.top_five_authors.first[:author].id) %> also contributes to: </h3>
  <% @page.top_five_authors.first[:author].top_contributions.each do |contribution| %>
  <p><b><%= contribution[0]%></b><br> <small><%= contribution[1] %> contributions</small></p>
  <% end %>
</div>