<div class="row">
  <div class="col-md-6">
    <h1><%= @page.title %></h1>
    <%= link_to("Wikipedia", @page.url, target: "_blank") %>
    <h3>Top 5 Page Contributors</h3>
  </div>
  
  <div class="col-md-6">
    <h4>This page changes every <b><%=@page.days_between_revisions%></b> days</h4>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <ol>
      <% @top_five_authors.each do |top_five_author| %>
        <li><h3> <%= link_to "#{top_five_author[:author].name}",  
            author_path(top_five_author[:author].id) %><br> 
            <small># of contributions: <%= top_five_author[:count] %></small></h3>  
        </li>
      <% end %>
    </ol>
  </div>

  <div class="col-md-6">
    <h3> This page's top author also contributes to: </h3>
    <% @top_five_authors.first[:author].top_contributions.each do |contribution| %>
    <p><%= contribution[0]%></p>
    <% end %>
  </div>

</div>

    <p><%=  render partial: 'page_revision', locals: {revisions: @revisions, first_revision: @first_revision, last_ten_revisions: @last_ten_revisions} %></p>
</ul>

  <h2>Most Recent Vandalism</h2>
  <p><%= @page.most_recent_vandalism_content %></p>


<h2>Average Revision Frequency Per Day: <%= @page.avg_revisions_per_day %></h2>
<% if @page.get_number_of_anonymous_authors > 1 %>
    <h2><%= @page.get_number_of_anonymous_authors %> anonymous authors from <%= @page.find_country_name.count %> countries:</h2>
  <% else %>
    <h2>This page has 0 edits from anonymous authors.</h2>
<% end %>

<div class="col-md-6">
    <canvas id="anonCountriesChart" width="400" height="400">
    </canvas>
</div>
