<br>
<div class="row">
    <h1><%= @page.title %></h1>
    <%= link_to("Wikipedia", @page.wiki_link, target: "_blank") %>
</div>
<br><br><br>
  
<div class="row"> 
  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-red">
      <div class="content">
        <h3>This page changes every <b><%=@page.days_between_revisions%></b> days</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-turquoise">
      <div class="content">
      <% if @page.get_number_of_anonymous_authors > 1 %>
      <h3>There are <b><%= @page.get_number_of_anonymous_authors %></b> anonymous authors from <b><%= @page.find_country_name.count %></b> countries contributing.</h3>
      <% else %>
      <h3>This page has no edits from anonymous authors.</h3>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-blue">
      <div class="content">
        <h3><b><%=@page.authors.all.count%></b> authors have edited this page</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-purple">
      <div class="content">
        <h3>Based on the rate of edits, this page is <b><%=@page.edit_activity_amount%></b></h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Anonymous authors by location:</h2>
    <div id="map" style="width: 600px; height: 400px"></div>
  </div>
  <div class="col-md-4">
    <!-- <canvas id="authorContributionsChart" width="300" height="300"></canvas> -->
    <h2>Count:</h2>
    <br>
    <% @anonymous_revisions_by_country.each do |revision| %>
    <h3><%= revision[0] %> : <b><%= revision[1] %></b></h3>
    <% end %>

  </div>

</div>

    <h3>Top 5 Page Contributors</h3>

<div class="row">
  <div class="col-md-6">
    <ol>
      <% @top_five_authors.each do |top_five_author| %>
        <li><h3> <%= link_to "#{top_five_author[:author].name}",  
            author_path(top_five_author[:author].id) %><br> 
            <small># of contributions: <%= top_five_author[:count] %></small></h3>  
        </li>
      <% end %>
    </ol>
  </div>

  <div class="col-md-6">
    <h3><%= link_to "#{@top_five_authors.first[:author].name}",author_path(@top_five_authors.first[:author].id) %> also contributes to: </h3>
    <% @top_five_authors.first[:author].top_contributions.each do |contribution| %>
    <p><%= contribution[0]%></p>
    <% end %>
  </div>

</div>

  <p><%=  render partial: 'page_revision', locals: { top_revisions: @top_revisions, revision_parser: @revision_parser} %></p>

  <br>
  <% if @page.most_recent_vandalism_content != "" %>
    <h2>Most Recent Vandalism:</h2>
    <h3><%= @page.most_recent_vandalism_regex %></h3>
  <% else %>
  <%end %>

<h1><div class="text-center">Timeline of revisions</div></h1>
<%= render partial: 'layouts/timeline', locals: {top_revisions: @top_revisions} %>


<h1>Revisions per day</h1>
<div class="row">
 <div class="panel-body text-center">
    <div class="chart">
        <div id="zoom"></div>
    </div>
</div>
</div>