<h1><%= @page.title %></h1>
<%= link_to("Wikipedia", @page.url, target: "_blank") %>
<h3>Top 5 Page Contributors</h3>

<ul>
  <% @top_five_authors.each do |top_five_author| %>
    <li> <%= link_to "#{top_five_author[:author].name}",  
        author_path(top_five_author[:author].id) %>, Number of Edits: <%= top_five_author[:count] %>  
    </li>
  <% end %>
</ul>
  <h2>Latest Revision:</h2>
  <p>Made on: <%= @page.get_date %></p>
  <p><%=  render partial: 'page_revision', locals: {revisions: @revisions} %></p>


<h2>Average Revision Frequency Per Day: <%= @page.avg_revisions_per_day %></h2>
<h2><%= @page.get_number_of_anonymous_authors %> anonymous authors from <%= @page.find_country_name.count %> countries:</h2>

<div class="col-md-6">
    <canvas id="anonCountriesChart" width="400" height="400">
    </canvas>
</div>

<h2 class="col-md-4 col-md-offset-3">
  <% @page.find_country_name.each do |name|%>
       <% name %>
    <% end %>
</h2>
