<br>
<div class="row">
    <h1><%= @page.title %></h1>
    <%= link_to("Wikipedia", @page.wiki_link, target: "_blank") %>
</div>
<br><br><br>
  
<div class="row"> 
  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-red">
      <div class="content">
        <h3>This page changes every <b><%=@page.days_between_revisions%></b> days</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-turquoise">
      <div class="content">
      <% if @page.get_number_of_anonymous_authors > 1 %>
      <h3>There are <b><%= @page.get_number_of_anonymous_authors %></b> anonymous authors from <b><%= @page.find_country_name.count %></b> countries contributing.</h3>
      <% else %>
      <h3>This page has 0 edits from anonymous authors.</h3>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-blue">
      <div class="content">
        <h3>This page changes every <b><%=@page.days_between_revisions%></b> days</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-purple">
      <div class="content">
        <h3>This page changes every <b><%=@page.days_between_revisions%></b> days</h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div id="map" style="width: 600px; height: 400px"></div>
  </div>
  <div class="col-md-6">
    <canvas id="authorContributionsChart" width="300" height="300"></canvas>
  </div>

</div>

    <h3>Top 5 Page Contributors</h3>

<div class="row">
  <div class="col-md-6">
    <ol>
      <% @top_five_authors.each do |top_five_author| %>
        <li><h3> <%= link_to "#{top_five_author[:author].name}",  
            author_path(top_five_author[:author].id) %><br> 
            <small># of contributions: <%= top_five_author[:count] %></small></h3>  
        </li>
      <% end %>
    </ol>
  </div>

  <div class="col-md-6">
    <h3><%= link_to "#{@top_five_authors.first[:author].name}",author_path(@top_five_authors.first[:author].id) %> also contributes to: </h3>
    <% @top_five_authors.first[:author].top_contributions.each do |contribution| %>
    <p><%= contribution[0]%></p>
    <% end %>
  </div>

</div>

    <p><%=  render partial: 'page_revision', locals: {revisions: @revisions, first_revision: @first_revision, last_ten_revisions: @last_ten_revisions} %></p>
  <br>
  <% if @page.most_recent_vandalism_content != "" %>
    <h2>Most Recent Vandalism:</h2>
    <h3><%= @page.most_recent_vandalism_regex %></h3>
  <%end %>

<h1><div class="text-center">Timeline of edits</div></h1>
<%= render 'layouts/timeline' %>


<script type="text/javascript">
$(function(){
 var anonData = [
        {
            value: gon.anonData[225],
            color:"#F7464A",
            highlight: "#FF5A5E",
            label: gon.anonCountryName[0]
        },
        {
            value: gon.anonData[0],
            color: "#46BFBD",
            highlight: "#5AD3D1",
            label: gon.anonCountryName[1]
        },
        {
            value: gon.anonData[38],
            color: "#FDB45C",
            highlight: "#FFC870",
            label: gon.anonCountryName[2]
        },
        {
            value: gon.anonData[233],
            color: "#949FB1",
            highlight: "#A8B3C5",
            label: gon.anonCountryName[3]
        },
        {
            value: gon.anonData[191],
            color: "#4D5360",
            highlight: "#616774",
            label: gon.anonCountryName[4]
        }
    ];


    var options = {
      scaleShowLabelBackdrop: true,
      scaleBackdropColor: "rgba(255,255,255,0.75)",
      scaleBeginAtZero: true,
      scaleShowLine: true,
      animationSteps: 40
    };
    var ctx = document.getElementById("anonCountriesChart");
    var anonChart = new Chart(ctx).PolarArea(anonData, options);

  var data = [
    {
        value: gon.data[0][1],
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: gon.data[0][0]
    },
    {
        value: gon.data[1][1],
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: gon.data[1][0]
    },
    {
        value: gon.data[2][1],
        color: "#FDB45C",
        highlight: "#FFC870",
        label: gon.data[2][0]
    },
    {
        value: gon.data[3][1],
        color: "#3598DB",
        highlight: "#5DADE2",
        label: gon.data[3][0]
    },
    {
        value: gon.data[4][1],
        color: "#293949",
        highlight: "#3E4D5B",
        label: gon.data[4][0]
    }
  ];

  var options = {
    scaleShowLabels : true,
    animation: true,
    animationEasing: "easeOutQuart",
    animationSteps: 40,
  };
  
  var myChart = new Chart(document.getElementById("authorContributionsChart").getContext("2d")).Pie(data, options);

});
</script>

