<br>
<div class="row">
  <div class="col-md-4">
    <img src="<%= @photo_url %>" height="200">
    <div class="page-title"><%= @page.title %></div>
    <div> <i><small> <%= link_to("View on Wikipedia »", @page.wiki_link, target: "_blank") %></small></i></div>
    <hr>
  </div>
</div>
<br><br><br>
  
<div class="row"> 
  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-red">
      <div class="content">
        <h3>This page changes every <b><%=@page.days_between_revisions%></b> days</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-turquoise">
      <div class="content">
      <% if @page.get_number_of_anonymous_authors > 1 %>
      <h3>There are <b><%= @page.get_number_of_anonymous_authors %></b> anonymous authors from <b><%= @page.find_country_name.count %></b> countries contributing.</h3>
      <% else %>
      <h3>This page has no edits from anonymous authors.</h3>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-blue">
      <div class="content">
        <h3><b><%=@page.authors.all.count%></b> authors have edited this page</h3>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6">
    <div class="dashboard-tile detail tile-purple">
      <div class="content">
        <h3>Based on the rate of edits, this page is <b><%=@page.edit_activity_amount%></b></h3>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Anonymous authors by location:</h2>
    <div id="map" style="width: 600px; height: 400px"></div>
  </div>
  <!-- <div class="col-md-4"> -->
    <!-- <canvas id="authorContributionsChart" width="300" height="300"></canvas> -->
  <div class="row">
    <div class="col-md-3">
      <div class="panel-heading">
        <div class="panel-title">
          <h3>Count:</h3>
        </div>
      </div>
      <div class="panel-body">
        <span class="arrow"></span>
        <p>
          <% @anonymous_revisions_by_country.each do |revision| %>
            <%= revision[0] %> : <b><%= revision[1] %></b>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

    <h3>Top 5 Page Contributors</h3>

<div class="row">
  <div class="col-md-6">
    <ol>
      <% @top_five_authors.each do |top_five_author| %>
        <li><h3> <%= link_to "#{top_five_author[:author].name}",  
            author_path(top_five_author[:author].id) %><br> 
            <small><b><%= top_five_author[:count] %></b> contributions</small></h3>  
        </li>
      <% end %>
    </ol>
  </div>

  <div class="col-md-6">
    <h3><%= link_to "#{@top_five_authors.first[:author].name}",author_path(@top_five_authors.first[:author].id) %> also contributes to: </h3>
    <% @top_five_authors.first[:author].top_contributions.each do |contribution| %>
    <p><b><%= contribution[0]%></b><br> <small><%= contribution[1] %> contributions</small></p>
    <% end %>
  </div>
</div>

  <br>
  <% if @page.most_recent_vandalism %>
    <h2>Most Recent Vandalism:</h2>
    <%= render partial: 'revisions/revision', locals: { revision: @page.most_recent_vandalism } %>
  <% else %>
  <%end %>

<h1><div class="text-center">Timeline of revisions</div></h1>
<%= render partial: 'layouts/timeline', locals: { top_revisions: @top_revisions } %>

<h1>Revisions per day</h1>
<div class="row">
 <div class="panel-body text-center">
    <div class="chart">
        <div id="zoom"></div>
    </div>
</div>
</div>