<h1><%= @page.title %></h1>
<%= link_to("Wikipedia", @page.url, target: "_blank") %>
<h3>Top 5 Page Contributors</h3>

<ul>
  <% @top_five_authors.each do |top_five_author| %>
    <li> <%= link_to "#{top_five_author[:author].name}",  
        author_path(top_five_author[:author].id) %>, Number of Edits: <%= top_five_author[:count] %>  
    </li>
  <% end %>

  <h2>Latest Revision:</h2>
  <% %>
  <p>Made on: <%= @page.get_date %></p>
  <p><%=  render partial: 'page_revision', locals: {revisions: @revisions} %></p>
</ul>

<h2>Average Revision Frequency Per Day: <%= @page.avg_revisions_per_day %></h2>
<h2>Number of anonymous authors: <%= @page.get_number_of_anonymous_authors %></h2>

<h2>Locations of anonymous authors:
  <% @page.find_country_name.each do |name|%>
      <%= name %>
    <% end %>
</h2>
