<h1><%= @page.title %></h1>
<h3>Top 5 Page Contributors</h3>
<ul>
  <% @top_five_authors.each do |top_five_author| %>
    <li> <%= link_to "#{top_five_author[:author].name}",  
        author_path(top_five_author[:author].id) %>, Number of Edits: <%= top_five_author[:count] %>  
    </li>
  <% end %>

  <h4>Latest Revision:</h4>
  <% date = DateTime.parse(@revisions.first.time) %>
  <p>Made on: <%= date.to_formatted_s(:long_ordinal) %></p>
  <p><%=  render partial: 'page_revision', locals: {revisions: @revisions} %></p>
</ul>
