  
  <div class="tab-wrapper tab-left ">
      <ul class="nav nav-tabs">

        <% @top_five_authors.each.with_index(1) do |author,i| %>
          <li><a href="#home<%=i%>" data-toggle="tab"><%= author[:author].name %></a>

          <li><h3> <%= link_to "#{author[:author].name}", author_path(author[:author].id) %><br> 
        <small># of contributions: <%= author[:count] %></small></h3>  
        </li>


          </li>
          <% end %>
      </ul>

      <div class="tab-content">
            <%idx = 1 %>
        <% @top_five_authors.each do |author| %>
            <div class="tab-pane " id="home<%=idx%>">
            <%author [:author].top_contributions.each.with_index(1) do |contribution, i| %>
              <p><%= contribution[0].title %></p>
              <% if i == 4 %>
              <% idx += 1  %>
              <% break %>
              <% end  %>
            </div>
          <% end  %>
        <% end  %>
        </div>
    </div>
</div>

                  