 <section id="main-content">
                <div class="row">
                    <div class="col-sm-11">
                        <div class="timeline">
                            <article class="timeline-item left">
                                <div class="text-right">
                                    <div class="time-layer">
                                        <span class="label label-primary"><%= time_tag Date.today %></span>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item ">
                                <div class="timeline-layer">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h1 class="panel-title"><i class="fa fa-clock-o"></i> <%= time_ago_in_words(@revisions.first[:timestamp]) %> ago</h1>
                                        </div>
                                        <div class="panel-body">
                                            <span class="arrow"></span>
                                            <div class="timeline-icon"><i class="fa fa-pencil"></i>
                                            </div>
                                            <p>Author: <%= @revisions.first.author[:name] %></p>
                                           <p> CONTENT HERE</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item left">
                                <div class="timeline-layer">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h1><i class="fa fa-clock-o"></i><%= time_ago_in_words(@revisions.second[:timestamp]) %> ago</h1>
                                        </div>
                                        <div class="panel-body">
                                            <span class="arrow-left"></span>
                                            <div class="timeline-icon"><i class="fa fa-pencil"></i>
                                            </div>
                                            <p>Author: <%= @revisions.second.author[:name] %></p>
                                           <p> CONTENT HERE</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="timeline-item">
                                <div class="timeline-layer">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h1><i class="fa fa-clock-o"></i><%= time_ago_in_words(@revisions.third[:timestamp]) %> ago</h1>
                                        </div>
                                        <div class="panel-body">
                                            <span class="arrow-left"></span>
                                            <div class="timeline-icon"><i class="fa fa-pencil"></i>
                                            </div>
                                            <p>Author: <%= @revisions.third.author[:name] %></p>
                                           <p> CONTENT HERE</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
    

                             <article class="timeline-item left">
                                <div class="timeline-layer">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <h1><i class="fa fa-clock-o"></i><%= time_ago_in_words(@revisions.fourth[:timestamp]) %> ago</h1>
                                        </div>
                                        <div class="panel-body">
                                            <span class="arrow-left"></span>
                                            <div class="timeline-icon"><i class="fa fa-pencil"></i>
                                            </div>
                                            <p>Author: <%= @revisions.fourth.author[:name] %></p>
                                           <p> CONTENT HERE</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="timeline-item left">
                                <div class="text-right">
                                    <div class="time-layer">
                                        <span class="label label-primary">April 19, 2014</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>