<!DOCTYPE html>
<html class="no-js">
<head>
  <title>WikiVice</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag 'wiki-vice-favicon.png' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
</head>

<body class="off-canvas">
<!--  -->
  <div id="container">
    <%= render 'layouts/header' %>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="loader">
            <div class="panel-solid-primary col-md-6 col-md-offset-3">
              <div class="panel-body">
               
                <h1 class="col-md-4 col-md-offset-1">Sit tight.</h1>
                <hr class="col-md-8 col-md-offset-1" style="margin-left:70px;">
                <br>
                <div class="col-md-8 col-md-offset-1">
                <h3>We're looking through <b>500</b> revisions, <b>500</b> authors, and generating some neat graphics for you.</h3>
                <br>
                 <%= image_tag("home-spinner.gif") %>
                 </div>
              </div>
            </div>
          </div>

          <%= yield %>
        </div>
      </div>
  </div>
    <%= render 'layouts/twitter_widget' %>
    <%= render 'layouts/footer' %>
</body>
</html>