<!DOCTYPE html>
<html class="no-js">
<head>
  <title>WikiVice</title>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">  
</head>


<body class="off-canvas">
    <div id="container">
      <%= render 'layouts/header' %>
      <%= render 'layouts/nav' %>

      <section class="main-content-wrapper">
        <section id="main-content">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <%= yield %>
            </div>
          </div>
        </section>
      </section>
    </div>
  <%= render 'layouts/twitter_widget' %>
</body>
</html>